.table {
    table-layout: fixed;
}

.table th {
	width: 12%;
	text-align: left;
	padding: 1.5rem 0.5rem;
    color: #666;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 85%;
    border-left: 0;
	background-color: #ebebeb;
}

.table td {
    width: 88%;
}